/* Variables Starts */
:root {
  --dark-blue: hsl(216, 27%, 36%);
  --dark-gray: hsl(225, 11%, 22%);
  --light-gray: hsl(240, 33%, 95%);
  --light-green: hsl(181, 37%, 69%);
  --font-family-sans-serif: Arial, Helvetica, sans-serif;
  --font-size-40px: 2.5rem; /* 40px */
  --font-size-36px: 2.25rem; /* 36px */
  --font-size-32px: 2rem; /* 32px */
  --font-size-18px: 1.125em; /* 18px */
  --font-size-16px: 1rem; /* 16px */
}
/* Variables Ends */

/* Move Resets into separate CSS file */
/* Resets Starts */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
/* Resets Ends */

/* Styling Starts*/
body {
  background-color: var(--light-gray);
  font-family: var(--font-family-sans-serif);
}
/* Styling Ends */

/* Nav Starts */
.navbar {
  background-color: var(--dark-gray);
  padding: 10px 50px 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__title {
  background-color: var(--light-green);
  color: hsl(225, 11%, 22%);
  font-size: var(--font-size-40px);
  padding: 5px 5px 5px 50px;
}

.navbar__navigation {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.navbar__items {
  padding: 5px 10px 5px 0px;
}

.navbar__hyperlinks {
  color: var(--light-green);
  font-size: var(--font-size-18px);
  text-decoration: none;
  border-bottom: 3px solid var(--light-green);
  padding: 0 5px 3px 5px;
}
/* Nav Ends */

/* Header Starts */
.header__title {
  background-color: var(--light-green);
  color: hsl(225, 11%, 22%);
  font-size: var(--font-size-32px);
}
/* Header Ends */

/* Main Starts */
.section__title {
  color: var(--dark-blue);
  font-size: var(--font-size-36px);
}

.section__paragraph {
  color: var(--dark-blue);
  font-size: var(--font-size-16px);
}
/* Main Ends */
