/* Variables Starts */
:root {
  --dark-blue: hsl(216, 27%, 36%);
  --dark-gray: hsl(225, 11%, 22%);
  --light-gray: hsl(240, 33%, 95%);
  --light-green: hsl(181, 37%, 69%);
  --font-family-sans-serif: Arial, Helvetica, sans-serif;
  --font-size-40px: 2.5rem; /* 40px */
  --font-size-36px: 2.25rem; /* 36px */
  --font-size-32px: 2rem; /* 32px */
  --font-size-26px: 1.625rem; /* 26px */
  --font-size-18px: 1.125em; /* 18px */
  --font-size-16px: 1rem; /* 16px */
}
/* Variables Ends */

/* Resets Starts */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
/* Resets Ends */

/* Body Styling Starts*/
body {
  background-color: var(--light-gray);
  font-family: var(--font-family-sans-serif);
}
/* Body Styling Ends */

/* Nav Starts */
.navbar {
  background-color: var(--dark-gray);
  text-align: center;
}

.navbar__title {
  background-color: var(--light-green);
  color: hsl(225, 11%, 22%);
  font-size: var(--font-size-40px);
  padding: 5px 5px 5px 5px;
}

.navbar__navigation {
  list-style: none;
}

.navbar__list-item {
  padding: 5px 5px 10px 5px;
}

.navbar__hyperlink {
  border-bottom: 3px solid var(--light-green);
  color: var(--light-green);
  font-size: var(--font-size-18px);
  text-decoration: none;
}

@media (min-width: 38.125em /* 610px */) {
  .navbar {
    padding: 10px 50px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__title {
    padding: 5px 5px 5px 50px;
  }

  .navbar__navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .navbar__list-item {
    padding: 5px 10px 5px 0px;
  }

  .navbar__hyperlink {
    padding: 0 5px 3px 5px;
  }
}
/* Nav Ends */

/* Header Starts */
.header {
  position: inline;
}

.header__img {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
}

.header__title {
  background-color: var(--light-green);
  color: var(--dark-gray);
  font-size: var(--font-size-32px);
  padding: 5px 10px 5px 10px;
  text-align: center;
}

@media (min-width: 38.125em /* 610px */) {
  .header {
    position: relative;
    text-align: center;
  }

  .header__title {
    position: absolute;
    bottom: 40px;
    right: 60px;
  }
}
/* Header Ends */

/* About Me Section Starts */
.about-me-section {
  text-align: center;
}

.about-me-section__title {
  color: var(--dark-blue);
  font-size: var(--font-size-36px);
  padding: 10px 5px 5px 5px;
}

.about-me-section__content {
  color: var(--dark-blue);
  font-size: var(--font-size-16px);
  line-height: 1.5;
  list-style: none;
  padding: 10px 20px 10px 20px;
}

@media (min-width: 38.125em /* 610px */) {
  .about-me-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .about-me-section__title {
    flex: 25%;
    text-align: right;
  }

  .about-me-section__content {
    flex: 75%;
    text-align: left;
    padding: 25px 50px 20px 20px;
  }
}
/* About Me Section Ends */

/* Work Section Starts */
.work-section__title {
  color: var(--dark-blue);
  font-size: var(--font-size-36px);
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.work-section__flex-item {
  position: relative;
  margin: 10px 20px 10px 10px;
}

.work-section__img {
  height: 250px;
  width: 100%;
  border: 5px solid var(--light-green);
}

.work-section__text-block {
  position: absolute;
  bottom: 20px;
  background-color: var(--light-green);
  color: var(--dark-gray);
  padding: 5px 20px 5px 20px;
}

.work-section__text-block > h4 {
  font-size: var(--font-size-26px);
  line-height: 1.5;
}

.work-section__text-block > p {
  font-size: var(--font-size-16px);
  line-height: 1.5;
}

@media (min-width: 38.125em /* 610px */) {
  .work-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .work-section__title {
    flex: 25%;
    align-self: flex-start;
    text-align: right;
  }

  .work-section__flex-container {
    flex: 75%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .work-section__a {
    flex: 1 0 50%;
  }

  .work-section__large-img {
    flex: 1 0 100%;
  }
}
/* Work Section Ends */

/* Contact Me Section Starts */
.contact-me-section {
  text-align: center;
}

.contact-me-section__title {
  color: var(--dark-blue);
  font-size: var(--font-size-36px);
  padding: 5px 5px 5px 5px;
}

.contact-me-section__content {
  color: var(--dark-blue);
  font-size: var(--font-size-16px);
  list-style: none;
  padding: 10px 20px 10px 20px;
}

.contact-me-section__list-item {
  padding: 5px 5px 10px 5px;
}

.contact-me-section__hyperlink {
  color: var(--dark-gray);
  font-size: var(--font-size-18px);
  text-decoration: none;
  border-bottom: 3px solid var(--dark-blue);
}

@media (min-width: 38.125em /* 610px */) {
  .contact-me-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .contact-me-section__title {
    flex: 25%;
    text-align: right;
  }

  .contact-me-section__content {
    flex: 75%;
    list-style: none;
    text-align: left;
    padding: 25px 50px 20px 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact-me-section__list-item {
    padding: 5px 10px 5px 0px;
  }

  .contact-me-section__hyperlink {
    padding: 0 5px 3px 5px;
  }
}
/* Contact Me Section Ends */
